.box-bin { }

.button-box {
    spacing: 2px;
}

.window-button {
    width: 19px;
    height: 24px;
}

.minimize {
    background-image: url("minimize.png");
}

.minimize:hover {
    background-image: url("minimize_focused.png");
}

.minimize:active {
    background-image: url("minimize_focused.png");
}

.maximize {
    background-image: url("maximize.png");
}

.maximize:hover {
    background-image: url("maximize_focused.png");
}

.maximize:active {
    background-image: url("maximize_focused.png");
}

.close {
    background-image: url("close.png");
}

.close:hover {
    background-image: url("close_focused.png");
}

.close:active {
    background-image: url("close_focused.png");
}
