.calc-main-box {
    min-width: 100px;
    background-color: darkslategray;
    border-radius: 4px;
    padding: 8px;
}

.expression-box {
    background-color: lightslategray;
    color: black;
    border-radius: 4px;
    padding: 4px;
}

.collapse-expand-button {
    color: gray;
    font-style: italic;
}

.history-separator {
    margin: 0;
    padding: 0;
}

.history-input {
    margin-bottom: 0;
    padding-bottom: 0;
}
.history-result {
    margin-top: 0;
    padding-top: 0;
}
