.sma-label {
    color: #bbb;
    font-size: 12px;
}

.sma-status-label {
    color: #bbb;
    font-size: 10px;
    padding: 4px 2px 0 5px;
}

.sma-unit-label {
    color: #aaa;
    font-size: 8px;
    padding: 6px 5px 0 2px;
}

.sma-perc-label {
    color: #aaa;
    font-size: 10px;
    padding: 4px 2px 0 2px;
}

.sma-status-value {
    min-width: 25px;
    padding-top: 2px;
    text-align: right;
}

.sma-big-status-value {
    min-width: 32px;
    text-align: right;
}

.sma-value {
    text-align: right;
    width: 45px;
}

.sma-void {
    width: 0px;
}

.sma-chart {
    padding: 1px 2px;
}

.sma-tooltip-box {
    font-size: 0.85em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 5px;
    padding: 3px;
}

.sma-tooltip-item {
    padding: 0px;
    spacing: 10px;
}

.sma-dialog-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #fff;
}

.sma-dialog-main-layout {
	spacing: 24px;
	padding: 10px;
}

.sma-dialog-message-layout {
	spacing: 16px;
}

.sma-dialog-description {
	font-size: 10pt;
	color: white;
}
