.padding-top-3 {
    margin: 5px;
    padding-top: 3px;
}

.padding-top-5-strict {
    padding-top: 5px;
}

.padding-15 {
    padding: 15px;
}

.margin-5 {
    margin: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.font-20 {
    font-size: 20px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}