/* Session section layout */
.session-container {
    padding: 6px 12px;
    spacing: 12px;
}

.session-spacer {
    min-width: 0;
    min-height: 0;
}

.session-buttons-box {
    spacing: 6px;
}

/* User box styles */
.user-box {
  spacing: 6px;
}

.user-icon {
  border-radius: 999px;
  border: 0;
}

.user-label {
  font-size: 9pt;
  font-weight: bold;
}

.host-label {
    font-size: 8pt;
    color: rgb(150, 150, 150);
}

/* Session button styles */
.system-button {
    border-radius: 9999px;
    padding: 10px;
    background-color: rgba(160, 160, 160, 0.08);
    transition: background-color 150ms ease;
}

.system-button:hover {
    background-color: rgba(160, 160, 160, 0.18);
}

.system-button:active {
    background-color: rgba(160, 160, 160, 0.28);
}

.system-button .system-status-icon {
    icon-size: 14px;
}

/* Grid Layout */
.prefs-grid-container {
    padding: 12px 6px;
}

.settings-toggle-box {
    spacing: 8px;
    width: 100%;
    min-width: 80px;
    max-width: 100px;
    margin: 0 auto;
}

.settings-toggle-button {
    border-radius: 10px;
    background-color: rgba(160, 160, 160, 0.1);
    padding: 12px;
}

.settings-toggle-button:checked,
.settings-toggle-button.active {
    background-color: #1c71d8;
}

.settings-toggle-icon {
    icon-size: 20px;
}

.settings-toggle-label {
    font-size: 9pt;
    max-width: 80px;
    text-align: center;
    margin: 0 auto;
}

/* Scaling slider */
/* Container da seção de scaling */
.scaling-container {
    spacing: 8px;               /* Espaço entre os elementos */
    margin: 6px;
}

/* CSS */
.fake-slider-track {
    background-color: rgba(100,100,100,0.3);
    border-radius: 4px;
    height: 8px;
}

.fake-slider-fill {
    background-color: #5a9bd5;
    border-radius: 4px;
    height: 8px;
}

.fake-slider-marker {
    background-color: #ddffff; /* cor do marcador */
    width: 2px !important;
    border-radius: 1px;
}

.panel-icon-bin{
    padding: 0 !important;
    margin: 0 !important;
    spacing: 0 !important;
}