doctype html
html
    head
        meta(http-equiv='content-type', content='text/html;charset=utf-8')
        title System Monitor (Fork By Odyseus) applet help
        link(rel='shortcut icon', type='image/x-icon', href='./icon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        script(type='text/javascript')
            include ../../docs/lib/js/localizations-handler.js

        style(type='text/css')
            include ../../docs/lib/css/bootstrap-for-standalone.min.css
            include ../../docs/lib/css/tweaks.css

        style(type='text/css').
            .localization-chooser {
                padding: 1em !important;
                width: 100% !important;
            }

            .localization-chooser input.btn {
                font-weight: bold !important;
                margin: 5px !important;
                height: 100% !important;
                display: inline-block !important;
            }

    body
        noscript
            style(type='text/css').
                #autohide_navbar {
                    display: none !important;
                }
                #noscript-navbar {
                    display: inline-block !important;
                }
                #noscript-navbar > li {
                    float: left !important;
                    margin: 2px !important;
                    padding: 2px !important;
                    top: 0 !important;
                    display: inline-block !important;
                }
                #noscript-navbar li > ul {
                    margin: 1px !important;
                    padding: 1px !important;
                }
                #noscript-navbar li {
                    list-style: none !important;
                    list-style-type: none !important;
                }

            .alert.alert-warning
                p: strong Oh snap! This page needs JavaScript enabled to display correctly.
                p: strong This page uses JavaScript only to switch between the available languages.
                p: strong There are no tracking services of any kind and never will be (at least, not from my side).

        div#mainarea
            .localization-chooser(align="middle")
                input(type='button', class='btn btn-success btn-sm localization-switch' value='English' data-id='english' data-title='System Monitor (Fork By Odyseus) applet help' onclick='self.toggleLocalizationVisibility(this);')
                input(type='button', class='btn btn-default btn-sm localization-switch' value='Español' data-id='spanish' data-title='Ayuda para el applet Monitor de Sistema (Modificado por Odyseus)' onclick='self.toggleLocalizationVisibility(this);')
                //- Example:
                //- input(type='button', class='btn btn-default btn-sm localization-switch' value='language-endonym' data-id='language-name' data-title='page-title' onclick='self.toggleLocalizationVisibility(this);')
                //- language-endonym = Language name in the language tongue in capital case (if apply).
                //- language-name = Language name in English and in lower case.
                //- page-title = The translated page title.
            .container.boxed
                #english.localization-content
                    include:markdown-it(html) docs/HELP.md
                #spanish.localization-content.hidden
                    include:markdown-it(html) docs/HELP-es.md
                //- Example:
                //- #language-name.localization-content.hidden
                //-     include:markdown-it(html) docs/HELP-language-code.md
                //- language-name = Language name in English and in lower case. The same used on the input.
                //- language-code = The code of the language used on the translated file.

        script(type='text/javascript').
            toggleLocalizationVisibility(null);
