/*css nodes used by Cinnamenu
-----------------------------
---session/favorites box--------------------
.menu-favorites-box (or none dependant on user options)
.menu-favorites-scrollbox and vfade
.menu-favorites-button
.menu-favorites-button:hover
---search box-----------------------------
.menu-search-entry-icon
.menu-search-box
.menu-search-entry
---categories box-------------------------
.menu-categories-box
.menu-categories-scrollbox and .vfade
.menu-category-button
.menu-category-button-label
.menu-category-button-selected
.menu-category-button-greyed
.menu-category-button-hover (or .menu-category-button-selected
   if .menu-category-button-hover is not defined or defined earlier
   in the css file. .menu-category-button-hover is used when "activate
   categories on click" option is set.)
---applications box-----------------------
.menu-applications-scrollbox or .vfade
.menu-applications-inner-box (and .menu-applications-box for compatability with old themes)
.menu-application-button
.menu-application-button-label
.menu-application-button-selected
.menu-application-button:highlighted (used to highlight newly installed apps in list or grid view)
.menu-application-button-selected:highlighted
---context menu---------------------------
.menu-context-menu (or .menu)
---whole menu-----------------------------
.cinnamenu (or menu-background)
.menu-applications-outer-box (and .menu-applications-box for compatability with old themes)
*/

.menu-application-button:highlighted {
    font-weight: bold;
}
.menu-application-button-selected:highlighted {
    font-weight: bold;
}

.menu-category-button:highlighted {
    font-weight: bold;
}
.menu-category-button-selected:highlighted {
    font-weight: bold;
}
