/*css nodes used by Cinnamenu
┌──.menu-applications-outer-box .menu-applications-box──────────────────────────────────────────────────────────────────────────
│┌──.menu-favorites-box─────────────────┐┌──.menu-categories-scrollbox .vfade──┐┌──.menu-applications-scrollbox .vfade───────────
││┌──.menu-favorites-scrollbox .vfade──┐││┌──.menu-categories-box─────────────┐││┌──.menu-applications-inner-box .menu-applications-box──
│││                                    ││││                                   ││││┌──.menu-applications-header-text────────────────────────
│
│┌──.menu-search-box─────────
││┌──#menu-search-entry──────────
*/
/*---session/favorites box--------------------*/
.menu-favorites-box {} /*(or none dependant on user options.)*/

.menu-favorites-scrollbox {} /*and vfade*/

.menu-favorites-button {}

.menu-favorites-button:hover {}

/*---search box-----------------------------*/
.menu-search-box {} /*When the searchBox is the full width of the menu (i.e. when session button placement
is left or right) the left menu-search-box padding will be set to equal the right padding and l&r
menu-search-box margins will be adjusted to ensure l/r symmetry.*/

#menu-search-entry {}

.menu-search-entry-icon {}

/*---categories box-------------------------*/
.menu-categories-scrollbox {} /*and .vfade*/

.menu-categories-box {} /*Note: for compatibility with older themes, when the favorites box is not on the
left of the menu, menu-categories-box left padding will be reduced so that menu-categories-box left
padding + menu-applications-outer-box left padding does not exceed 20px. Use menu-categories-box left
margin to override*/

.menu-category-button {}

.menu-category-button-label {}

.menu-category-button-selected {}

.menu-category-button-greyed {}

.menu-category-button:hover {  /*Only used when "activate categories on click" option is set.*/
    background-color: rgba(128,128,128,0.2);
    border-radius: 4px;
    border-image: none;
}

/*.menu-category-button-hover {} No longer used. Use .menu-category-button:hover instead.*/

.menu-category-button:highlighted, /*Used to highlight category containing newly installed apps.*/
.menu-category-button-selected:highlighted {
    font-weight: bold;
}

/*---applications box-----------------------*/
.menu-applications-scrollbox {} /*and .vfade*/

.menu-applications-inner-box {} /*and .menu-applications-box for compatability with old themes.*/

.menu-applications-header-text { /*(shows folder name, "no recent files", error messages etc)*/
    font-weight: bold;
    font-size: 110%;
}

.menu-applications-subheading {
    font-weight: bold;
    font-size: 100%;
    padding-top: 0.3em;
    padding-left: 0.3em;
    /*text-align: center;*//*known bug: causes label to jump about when resizing menu*/
}

.menu-applications-subheading-clickable { /*emoji categories*/
    /*font-weight: bold;*/
    font-size: 100%;
    /*text-align: center;*//*known bug: causes label to jump about when resizing menu*/
}

.menu-application-button {} /*Note: in grid view mode, .menu-application-button l&r padding are
                              set to 0px in the applet and also in grid view mode, top & bottom
                              padding are set to minimum of 8px.*/

.menu-application-gridbutton {}

.menu-application-button-label {
   
}

.menu-application-button-selected {}

.menu-application-gridbutton-selected {}

.menu-application-button:highlighted, /*Used to highlight newly installed apps in list or grid view.*/
.menu-application-button-selected:highlighted {
    font-weight: bold;
}

/*---context menu---------------------------
(.menu)*/

/*---whole menu-----------------------------
.cinnamenu (and .menu-background)
(.menu)*/

/*
Note: You can make a style to apply to Cinnamenu applet but not other menu applets by
preceeding the class with ".cinnamenu ". Example:
.cinnamenu .menu-application-button {
    //this style will only apply to Cinnamenu applet.
}
*/