.feedreader-title {
    spacing: .5em;
}

.feedreader-title-image {
    border: 2px solid white;
    background-color: white;
    border-radius: 2px;
    padding: 0;
    spacing: 0;

}

.feedreader-feed-hover {
    background: Slategrey;
}

.feedreader-feed-new {
    color: orange;
}

.feedreader-feed-selected {
    background: DimGrey;
}

.feedreader-title-buttons {
    spacing: .5em;
}

.feedreader-title-label {
    font-weight: bold;
}

.feedreader-item {
    spacing: 1em;
    padding-left: 0em;
}

.feedreader-status {
    spacing: .5em;
    padding-left: 0em;
    padding-right: .5em;
}

.feedreader-status > StLabel {
    text-align: center;
    font-weight: bold;
}

/* Cinnamon tooltips use id="Tooltip", but the default theme (and most others
 * use text-align: center. Tooltips created for feedreader items contain lots
 * of text so left-alignment makes for better readability
 * Feedreader adds the additional class="feedreader-item-tooltip" to the
 * underlying tooltip label */
#Tooltip.feedreader-item-tooltip {
    text-align: left;
}

