.largeBold {
    font-weight: bold;
    font-size: 23px;
    text-align: center
}

.small {
    font-size: 15px;
    text-align: center
}

.smallItalics {
    font-weight: italic;
    font-size: 12px;
    text-align: center
}
