.icon {
   padding: 3px;
}

.channel-label {
   font-size: 1em;
}

.artist-label {
   text-align: center;
   font-size: 1.02em;
   padding-left: 1em;
   padding-bottom: 0.6em;

}

.title-label {
   text-align: center;
   font-size: 1.07em;
   padding-left: 1em;
}

.radio-label {
   text-align: center;
   font-size: 0.95em;
   padding-top: 1em;
   font-weight: bold;
   color: #898989;

}

.channel-icon {
   margin-top: 10px;
   margin-bottom: 5px;
   margin-left: 20px;
   border: 2px solid transparent;
   padding: 2px;
}

.channel-icon-recording {
   border-color: #ff4444;
   border-radius: 4px;
}
