.systray-collapsible-gradient {
background-gradient-direction: vertical;
background-gradient-start: rgba(255,255,255,0.04);
background-gradient-end: rgba(255,255,255,0.1);
background: transperant;
box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,0.1);
border-radius: 6px; 
spacing: 2px;
padding-left: 3px;
padding-right: 2px;
transition-duration: 100;
}
.systray-collapsible-gradient:focus	{
background-gradient-direction: vertical;
background-gradient-start: rgba(255,255,255,0.07);
background-gradient-end: rgba(255,255,255,0.2);
background: transperant;
box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,0.2);
}
.systray-collapsible-border {
border: 1px solid rgba(255,255,255,0.4); 
border-radius: 6px; 
spacing: 2px;
padding-left: 3px;
padding-right: 2px;
transition-duration: 100;
}
.systray-collapsible-border:focus	{
border: 1px solid rgba(255,255,255,0.5); 
}
