.largeBold {
    font-weight: bold;
    font-size: 16px;
}

.favorites-label {
    font-weight: bold;
    padding-bottom: 10px;
}

.search-label{
    padding-top: 6px;
}

.left-box{
    border: 1px solid #555;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}