/* 
Style sheet for the Battery Applet with Monitoring and Shutdown.
This can be edited at your own risk to harmonise with your chosen style.
NOTE: It will be overwritten when the applet is updated so save your modifications somewhere else before updating then replace them.
*/

.bam-normal {
background-color: rgba(0,255,0,0.3);
border-radius: 10px;
border: 2px;
border-color: rgba(0,255,0,0.3);
}

.bam-discharging {
background-color: rgba(0,255,0,0.3);
border-radius: 10px;
border: 2px;
border-color: red;
}

.bam-alert {
background-color: orange;
border-radius: 10px;
border: 2px;
border-color: orange;
}

.bam-alert-discharging {
background-color: white;
border-radius: 10px;
border: 2px;
border-color: red;
}

.bam-limit-exceeded {
background-color: red;
border-radius: 10px;
}

.bam-limit-exceeded2 {
background-color: white;
border-radius: 10px;
}

/*
Last Modified 17 September 2016
Last Modified 29 March 2017
*/
