/* ===================================================================
 * Panel Separator (Theme) (panel-separator-theme@mordant23/applet.js) 
 * ===================================================================*/
 /* width must be at least as wide as the image if a background-image
 is used. For example, for a 3px wide image, width must be >= 3px.
 
 Modify padding to increase space around the separator.*/
 
 #panelSeparator {
}

.panel-separator {
    width: 1px;
    padding: 0px;
    border: 0px; 
    background: rgba(255,255,255,.5);
}

