/* the pseudo are not being overidden so I can't do a hover. that will need to be added to themes */
.thumbnail-row .thumbnail-alerts {
	background: rgba(255,52,52,0.3);
}
.hide-arrow {
	-arrow-background-color: rgba(80,80,80,0.0);
	-arrow-border-color: rgba(150,150,150,0.0);
}
.thumbnail-icon {
	/* thumbnail icon size */
	width: 16px;
	height: 16px;
}
.thumbnail-label {
	padding-left: 4px;
}
/*  Careful with the calculation of background position or you will have to much dead space.*/
.thumbnail-close {
  background-image: url("close-window.png");
	background-size: 16px 16px;
	background-position: 0px -2px;
	width: 16px;
 	height: 16px;
}
/*App List Padding is set in the the applet settings
use to override window-list-item-box */
.app-list-item-box{
	z-index: -9;
}
/* NumLabel */
.window-icon-list-numlabel {
	z-index: 99;
  text-shadow: black 1px 0px 2px
}
/* Non grouped container */
.window-icon-list-buttonbox {
  spacing: 2px;
}
.window-list-item-demands-attention {
}
.app-button-label {
  padding-left: 4px;
}