.color-inspector {
    padding: 10px 10px;
    spacing: 10px;
}

.color-entry {
    width: -1px;
    font-family: monospace;
    min-width: 100px
}

.color-spectrum {
    min-width: 14px;
    min-height: 100px;
}

.color-scale {
    min-width: 20px;
    min-height: 20px
}

.color-gradient {
    padding: 10px 10px;
    min-width: 100px;
    min-height: 100px;
}

.color-cursor {
    width: 16px;
    height: 16px;
}

.color-palette {
    padding: 10px 10px;
}

.color-button-box {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
}

.color-button {
    padding: 2px 2px;
    border-radius: 6px;
}

.icon-button {
    padding: 2px 2px;
    border-radius: 6px;
}
