.scene-capsule {
    border-radius: 16px;
    padding: 2px;
    min-width: 240px;
    max-width: 240px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(0, 0, 0, 0.15);
    background-image: none;
}

.scene-segment {
    padding: 6px 4px;
    min-height: 24px;
    border-radius: 8px;
    background-image: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.55);
}

.scene-segment:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.scene-segment-active {
    background-image: none !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff !important;
}

.scene-segment-active:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}
