/* taken from gnome-shell.css, .dash-search-button */
.weather-current-location-link:selected,
.weather-current-location-link:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255, 255, 255, 0.4);
    background-gradient-end: rgba(255, 255, 255, 0.2);
}

.weather-current-summarybox {
    padding-top: 15px;
}

.weather-current-summary {
    font-size: 35px;
}

.weather-current-databox {
    padding-top: 15px;
    padding-left: 30px;
}

.weather-current-icon {
    padding: 0 30px;
}

.weather-current-iconbox {
    padding: 10px;
}

.weather-icon {
    padding-right: 5px;
}

.weather-icon-rtl {
    padding-left: 5px;
}

.weather-current-databox-captions {
    text-align: right;
    padding-right: 5px;
    color: #999999;
}

.weather-current-astronomy {
    color: #AAAAAA;
}

.weather-forecast-icon {
  padding: 0 15px 0 30px;
}

.weather-forecast-databox {
  padding: 0 30px 0 0;
}

.weather-forecast-day {
  color: #999999;
  font-size: 90%;
}

.weather-config {
  padding-right: 10px;
}
