.cinnamenu-menu-top-pane {
    spacing: 15px;
}

/* Needed to prevent bookmarks from being invisible. */
.cinnamenu-categories-workspaces-scrollbox {
    border-radius: 0 4px 0 0;
    border-width: 1px;
    border-left: 0;
    padding: 0
}

/* List box */
.cinnamenu-applications-list-box {
    padding-right: 0;
    padding-left: 15px;
    spacing: 5px
}
.cinnamenu-application-list-button {
    border-radius: 3px;
    border-width: 1px;
    padding: 0 8px
}
.cinnamenu-application-list-button-label {
    padding-left: 16px
}
.cinnamenu-application-list-button-icon {
    padding-top: 3px
}

/* Grid box */
.cinnamenu-applications-grid-box {
    padding-right: 0;
    padding-left: 15px
}
.cinnamenu-application-grid-button {
    border-radius: 3px;
    border-width: 1px
}
.cinnamenu-application-grid-button.col2 {
    padding: 5px 5px 5px;
    min-width: 250px;
}
.cinnamenu-application-grid-button.col3 {
    padding: 5px 5px 5px;
    min-width: 170px;
}
.cinnamenu-application-grid-button.col4 {
    padding: 5px 5px 5px;
    min-width: 125px;
}
.cinnamenu-application-grid-button.col5 {
    padding: 5px 5px 5px;
    min-width: 98px;
}
.cinnamenu-application-grid-button.col6 {
    padding: 5px 5px 5px;
    min-width: 80px;
}
.cinnamenu-application-grid-button.col7 {
    padding: 5px 5px 5px;
    min-width: 67px;
}
.cinnamenu-application-grid-button-label {
    font-size: 7.5pt;
    font-weight: bold;
    padding: 0;
    text-align: center;
}