.refreshArea{
	padding-right:15px;
}

.refreshIcon{
	padding: 6px;
}

.refreshIcon:hover{
	padding: 5px;
	border : 1px solid #bbbbbb; 
	border-radius: 5px; 
}


.statArea{
	padding-left: 25px;
	padding-right: 25px;
}

.userNameLabel{
	font-weight: bold;
}


.taskArea{
	padding-left: 25px;
	padding-right: 25px;
	width:300px;
}

.taskLabel{
	width:250px;
}

.taskIcon:hover{
	background-color:#bbbbbb;
	border-radius: 15px; 
}
