/* 
These settings govern the width of the Applet and the space taken by the font.
Changes may be required with some themes to avoid the display width being exceeded
which leads to jitter with high network speeds and resolutions
or to allow a reduced size width to save panel space.
*/
.numa-left {

	text-align: center;
	font-family: "Ubuntu Mono", Arial;
	font-weight: bold;
/*

	min-width: 75px;
	font-size: 95%;
*/
}
.numa-right {

	text-align: center;
	font-family: "Ubuntu Mono", Arial;
	font-weight: bold;

/*
	min-width: 1px;
    font-size: 95%;
*/
}
.numa-compact {
	text-align: center;
	font-family: "Ubuntu Mono", Arial;
	font-weight: bold;
/*

	min-width: 1px;
    font-size: 95%;
*/
}

/* The following are the styles for the Applet backgrounds - names are self explanitory 
The colour parameters are red, green, blue, and transparency or a name
*/

.numa-not-connected {
background-color: rgba(0,0,0,0.0);
 border-radius: 10px;

}

.numa-connected {
background-color: rgba(0,255,0,0.3);
 border-radius: 10px;

}

.numa-alert {
background-color: orange;
 border-radius: 10px;
}

.numa-limit-exceeded {
background-color: red;
 border-radius: 10px;
}
/*
06-09-2013 Initial version 
04-05-2014 Modifications to reflect changes in way minimum display width is determined by padding rather than by using css 
*/
