StBin.kdec-popup-button-menu-item-button  {
    padding: 0 3px;
    margin: 0;
    border-radius: 2px;
    min-height: 0;
    min-width: 0;
}


StIcon.kdec-popup-button-menu-item-button-icon {
    min-width: 0;
    min-height: 0;
}

StIcon.kdec-popup-button-menu-item-button-icon:disabled {
    color: #9f9f9f;
}

CinnamonGenericContainer.kdec-popup-button-menu-item {
    padding-top: .3em;
    padding-bottom: .3em;
}