.user-box {
  padding: 0;
  spacing: 0;
}

.user-applet {
  padding: 0;
  spacing: 0;
}

.user-icon {
  border-radius: 4px;
  border: 2px solid #a5a5a5;
}

.user-label {
  color: #fff;
  font-size: 16px;
  margin: 6px;
}
