/* timer-notifications timer CSS */
.timer-dialog-label {
  text-align: center;
  font-weight: bold;
}

.timer {
}

.timer-expired .system-status-icon {
    color: red;
}

.timer-running .system-status-icon {
}

.timer-stopped .system-status-icon {
    color: lightgrey;
}

.timer-stopped .applet-label {
    color: lightgrey;
}
