.box-bin { 
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

.button-box {

}

.window-button {
    width: 24px;
    height: 20px;

    transition-duration: 100;
}

.minimize {
    background-image: url('minimize_focused_normal.svg');
}

.minimize:hover {
    background-image: url('minimize_focused_prelight.svg');
}

.minimize:active {
    background-image: url('minimize_focused_pressed.svg');
}

.maximize {
    background-image: url('maximize_focused_normal.svg');
}

.maximize:hover {
    background-image: url('maximize_focused_prelight.svg');
}

.maximize:active {
    background-image: url('maximize_focused_pressed.svg');
}

.close {
    background-image: url('close_focused_normal.svg');
}

.close:hover {
    background-image: url('close_focused_prelight.svg');
}

.close:active {
    background-image: url('close_focused_pressed.svg');
}

.restore {
    background-image: url('restore_focused_normal.svg');
}

.restore:hover {
    background-image: url('restore_focused_prelight.svg');
}

.restore:active {
    background-image: url('restore_focused_pressed.svg');
}
