.sheet-item {
	border: solid 1px white;
	border-radius: .5em;
}

.sheet-item-description {
	font-size: .8em;
	display: block;
}

.sheet-item-code {
	font-size: 1em;
	font-family: sans-serif;
	font-weight: bold;
	display: block;
}

.sheet-item-code-alternative {
	font-size: 1em;
	font-family: sans-serif;
	font-weight: bold;
	font-style: italic;
	display: block;
}

.cheatsheet {
}

.cheatsheet .sheeticon {
	padding-left: .5em;
}
