.notification-icon-button.menu-item-button {
  padding: 2px 2px !important;
  spacing: 0px !important;
  margin: 0px !important;
  border-radius: 1px;
  border-width: 1px;
  min-height: 1em;
}

.notification-icon-button.menu-item-button .menu-item-button-icon {
  spacing: 0px;
  margin: 0px;
  padding: 0px;
  icon-size: 1em;
  min-height: 1em;
  width: 1.25em;
  border-width: 0;
}

.popup-menu-item.menu-icon-button-item {
  padding-top: 4px;
  padding-bottom: 4px;
}