.frame {
    padding: 5px;
    padding-top: 10px;
}

.nop {
    color: white;
    background-color: rgba(55, 55, 55, 0.95);
    border-radius: 4px;
    border: 1px solid rgba(21, 21, 21, 0.8);
}

.content {}

.entryfield {
    height: 64px;
    width: 300px;
    font-size: 18px;
    color: black;
    border-top: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    selected-color: white;
    selection-background-color: grey;
    border: 1px solid rgba(21, 21, 21, 0.8);
    border-radius: 1px;
}

.buttonGrid {
    padding: 4px;
}

.button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 18px;
    border-radius: 8px;
    min-width: 16px;
}

.lit {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 185, 120, 1);
}

.button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.button.fn {
    border-radius: 4px;
    background-color: rgba(76, 76, 76, 0.2);
    border: 1px solid rgba(21, 21, 21, 0.6);
    font-size: 14px;
}

.button.clear {
    background-color: rgba(240, 74, 80, 0.6);
}

.button.clear:active {
    background-color: rgba(240, 74, 80, 0.8);
}

.button.fn:active {
    background-color: rgba(87, 156, 142, 0.8);
}

.button.fn:checked {
    background-color: rgba(87, 156, 142, 0.9);
}

.button.operator {
    background-color: rgba(76, 76, 76, 0.2);
}

.button.operator:active {
    background-color: rgba(87, 156, 142, 0.8);
}
.button.equals {
    background-color: rgba(29, 212, 94, 0.6);
}

.button.equals:active {
    background-color: rgba(29, 212, 94, 0.8);
}

.button.smt {
    background-color: rgba(240, 74, 80, 0.6);
}
