.frame {
  padding:5px;
  padding-top:10px;

}

.nop {
  color: white;
  background-color: rgba(55,55,55,0.95);
  border-radius:8px;
  border: 1px solid rgba(255,255,255,0.5);
}

.content {
}

.entryfield {
  height:32px;
  width:150px;

  color:black;
  border-top:50px;
  background-color: rgba(255,255,255,0.7);
  selected-color:white;
  selection-background-color: grey;

  border: 0px solid black;

}

.buttonGrid {
  padding: 4px;
}

.button {
  border: 1px solid rgba(0,0,0,0.5);
  background-color:rgba(255,255,255,0.1);
  font-size: 14px;
  border-radius:8px;
  min-width:16px;
}
.lit {
  background-color: rgba(255,255,255,0.2);
  color: rgba(255,185,120,1);
}
.button:active {
  background-color: rgba(255,255,255,0.3);
}

.button.fn {
  border-radius:4px;
  background-color: rgba(128,255,255,0.2);
  border: 1px solid rgba(0,0,64,0.5);
  font-size: 10px;
}

.button.clear {
  background-color: rgba(255,128,64,0.2);
}

.button.clear:active {
  background-color: rgba(255,128,64,0.4);
}

.button.fn:active {
  background-color: rgba(128,255,255,0.3);
}

.button.fn:checked {
  background-color: rgba(128,255,255,0.5);
}

.button.operator {
  background-color: rgba(128,255,255,0.2);
}

.button.operator:active {
  background-color: rgba(128,255,255,0.3);
}
