/* ############################################################################# *
 * this stylesheet.css is to fix right margin too short in PopupSubMenuMenuItem  *
 * and to make sliders keep same theme. it works with most of tested themes      *
 * ############################################################################# */

.My-popup-slider-menu-item { /* call in MyPopupSliderMenuItem.prototype ; _init:*/
    height: 1em;
    min-width: 15em;
    -slider-height: 3px;
    -slider-background-color: #666666;
    -slider-border-color: #555555;
    -slider-active-background-color: #CCCCCC;
    -slider-active-border-color: #DDDDDD;
    -slider-border-width: 0;
    -slider-handle-radius: 0.4em;
}
    
.My-sound-seek-box { /* call in Player.prototype ; _dbus_acquired: function()*/
/*   padding-left: 5px;*/
}
.My-sound-seek-slider {/* call in Player.prototype ; _dbus_acquired: function()*/
/*   width: 140px;*/
}

