.sticky-title {
    font-size: 1.3em;
}

.sticky-titleBox {
    height: 25px;
}

.sticky-checkBox StBin {
    width: 16px;
    height: 16px;
    padding-right: 3px;
    background-image: url("icons/checkbox-unchecked.svg");
}

.sticky-checkBox:checked StBin {
    background-image: url("icons/checkbox-checked.svg");
}

.sticky-checkList-itemBox {
    spacing: 5px;
}

.sticky-checkList-entry:checked {
    text-decoration: line-through;
}

#NoteBox {
    padding: 10px;
    caret-size: 1px;
}

#NoteBox:boxshadow {
    box-shadow: 2px 2px 7px;
}

#NoteBox StScrollBar {
    min-width: 10px;
}

#NoteBox StBin#trough {
    border-image: none;
    border-color: transparent;
}

#NoteBox StButton#vhandle {
    background-gradient-direction: none;
    border-radius: 0px;
    border-image: none;
    border-color: transparent;
}

#NoteBox StButton#vhandle:hover {
    border-radius: 0px;
    border-image: none;
    border-color: transparent;
}


/*Green*/
#NoteBox.green {
    background-color: #99c16f;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #C99F64;
    caret-color: #000000;
}

#NoteBox.green:focus StScrollView {
    background-color: #BDE09D;
}

#NoteBox.green StBin#trough {
    background-color: #99c16f;
}

#NoteBox.green StButton#vhandle {
    background-color: #699933;
}

#NoteBox.green StButton#vhandle:hover {
    background-color: #BDE09D;
}


/*Aqua*/
#NoteBox.aqua {
    background-color: #6cabcd;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #C99F64;
    caret-color: #000000;
}

#NoteBox.aqua:focus StScrollView {
    background-color: #a7c6df;
}

#NoteBox.aqua StBin#trough {
    background-color: #6cabcd;
}

#NoteBox.aqua StButton#vhandle {
    background-color: #308fba;
}

#NoteBox.aqua StButton#vhandle:hover {
    background-color: #a7c6df;
}


/*Blue*/
#NoteBox.blue {
    background-color: #546dc1;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #C99F64;
    caret-color: #000000;
}

#NoteBox.blue:focus StScrollView {
    background-color: #8FAAD8;
}

#NoteBox.blue StBin#trough {
    background-color: #546dc1;
}

#NoteBox.blue StButton#vhandle {
    background-color: #3650b8;
}

#NoteBox.blue StButton#vhandle:hover {
    background-color: #8FAAD8;
}


/*Brown*/
#NoteBox.brown {
    background-color: #a68263;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #C99F64;
    caret-color: #000000;
}

#NoteBox.brown:focus StScrollView {
    background-color: #CCAF90;
}

#NoteBox.brown StBin#trough {
    background-color: #a68263;
}

#NoteBox.brown StButton#vhandle {
    background-color: #7b4927;
}

#NoteBox.brown StButton#vhandle:hover {
    background-color: #CCAF90;
}


/*Orange*/
#NoteBox.orange {
    background-color: #d99859;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #415BEA;
    caret-color: #000000;
}

#NoteBox.orange:focus StScrollView {
    background-color: #eab982;
}

#NoteBox.orange StBin#trough {
    background-color: #d99859;
}

#NoteBox.orange StButton#vhandle {
    background-color: #b05001;
}

#NoteBox.orange StButton#vhandle:hover {
    background-color: #eab982;
}


/*Pink*/
#NoteBox.pink {
    background-color: #c35591;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #C99F64;
    caret-color: #000000;
}

#NoteBox.pink:focus StScrollView {
    background-color: #e799c5;
}

#NoteBox.pink StBin#trough {
    background-color: #c35591;
}

#NoteBox.pink StButton#vhandle {
    background-color: #a7276b;
}

#NoteBox.pink StButton#vhandle:hover {
    background-color: #e799c5;
}


/*Purple*/
#NoteBox.purple {
    background-color: #8464c5;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #E7ED40;
    caret-color: #000000;
}

#NoteBox.purple:focus StScrollView {
    background-color: #aea3d9;
}

#NoteBox.purple StBin#trough {
    background-color: #8464c5;
}

#NoteBox.purple StButton#vhandle {
    background-color: #6938b8;
}

#NoteBox.purple StButton#vhandle:hover {
    background-color: #aea3d9;
}


/*Red*/
#NoteBox.red {
    background-color: #bc4e4b;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #7CC663;
    caret-color: #000000;
}

#NoteBox.red:focus StScrollView {
    background-color: #e99690;
}

#NoteBox.red StBin#trough {
    background-color: #bc4e4b;
}

#NoteBox.red StButton#vhandle {
    background-color: #9d2525;
}

#NoteBox.red StButton#vhandle:hover {
    background-color: #e99690;
}


/*Sand*/
#NoteBox.sand {
    background-color: #c4a65e;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #C99F64;
    caret-color: #000000;
}

#NoteBox.sand:focus StScrollView {
    background-color: #e0cea4;
}

#NoteBox.sand StBin#trough {
    background-color: #c4a65e;
}

#NoteBox.sand StButton#vhandle {
    background-color: #b38e37;
}

#NoteBox.sand StButton#vhandle:hover {
    background-color: #e0cea4;
}


/*Teal*/
#NoteBox.teal {
    background-color: #5aaa9a;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #C99F64;
    caret-color: #000000;
}

#NoteBox.teal:focus StScrollView {
    background-color: #9ed8c7;
}

#NoteBox.teal StBin#trough {
    background-color: #5aaa9a;
}

#NoteBox.teal StButton#vhandle {
    background-color: #238576;
}

#NoteBox.teal StButton#vhandle:hover {
    background-color: #9ed8c7;
}


/*Yellow*/
#NoteBox.yellow {
    background-color: #dfdf00;
    color: #000000;
    selected-color: #ffffff;
    selection-background-color: #aa44aa;
    caret-color: #000000;
}

#NoteBox.yellow:focus StScrollView {
    background-color: #ffff33;
}

#NoteBox.yellow StBin#trough {
    background-color: #dfdf00;
}

#NoteBox.yellow StButton#vhandle {
    background-color: #99a544;
}

#NoteBox.yellow StButton#vhandle:hover {
    background-color: #ffff33;
}
