.window-list-item-box {
  padding-left: 0px;
  padding-right: 0px;
}

.window-list-box .window-list-item-box:neutral {
  background-gradient-start: rgba(255,255,255,0);
  background-gradient-end: rgba(255,255,255,0);
  background: none;
  background-color: none;
  background-image: none;
  box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0);
  border: 0px;
  border-radius: 0px;
  border-image: none;
}
