/*
Style sheet for the Battery Applet with Monitoring and Shutdown.
The stylesheet can be edited by the user but will be overwritten when the applet is updated.
There is a way to gain 'persistence' described at the end of this file.
*/

.bam-normal {

    background-color: rgba(0,255,0,0.3);
    margin: 2px, 1px, 0px, 1px;
    border: 1px;
    border-radius: 4px, 4px, 1px, 1px;
    border-color: rgba(0,255,0,0.5);
    font-size: 95%;
}

.bam-discharging {

    background-color: rgba(0,255,0,0.3);
    margin: 2px, 1px, 0px, 1px;
    border: 2px;
    border-radius: 4px, 4px, 1px, 1px;
    border-color: red;
    font-size: 95%;
}

.bam-alert {
    background-color: orange;
    margin: 2px, 1px, 0px, 1px;
    border-radius: 4px, 4px, 1px, 1px;
    border: 2px;
    border-color: orange;
    font-size: 95%;
}

.bam-alert-discharging {
    background-color: white;
    margin: 2px, 1px, 0px, 1px;
    border-radius: 4px, 4px, 1px, 1px;
    border: 2px;
    border-color: red;
    font-size: 95%;
}

.bam-limit-exceeded {
    background-color: red;
    margin: 2px, 1px, 0px, 1px;
    border-radius: 4px, 4px, 1px, 1px;
    font-size: 95%;
}

.bam-limit-exceeded2 {
    background-color: white;
    margin: 2px, 1px, 0px, 1px;
    border-radius: 4px, 4px, 1px, 1px;
    font-size: 95%;
}

/*
Persistence
The applet checks for a file called stylesheet.css in folder batterymonitor@pdcurtis in your Home Folder.
if this is present then the default stylesheet is overwritten the next time the applet is started.
A further restart of the applet is then required before the applet uses the new stylesheet.
An extra restart of the applet is also required after an update.
The quickest way to restart Cinnamon is by the keyboard shortcut Ctrl+Alt+Esc
Login out and back in also restarts Cinnamon or a Right click on the Panel -> Troubleshoot -> Restart Cinnamon
A way to avoid these restarts is being sought but it is intended to maintain the default position for a user stylesheet.
*/



/*
Last Modified 17 September 2016
Last Modified 29 March 2017
Last Modified 7 June 2017
Last Modified 5 January 2019
*/
