.modal-dialog.gpaste__new-item-dialog .gpaste__new-item-dialog__content {
    spacing: 16px;
}

.modal-dialog.gpaste__new-item-dialog .gpaste__new-item-dialog__scroll-box {
    max-height: 400px;
}

.modal-dialog.gpaste__new-item-dialog .gpaste__new-item-dialog__scroll-box__inner StEntry {
    height:     auto;
    min-height: 0;
    max-height: none;
}
