.slingshot.popup-menu-content {
    padding: 5px;
}

/** Entries *******************************************************************/

.slingshot .entry {
    padding: 4px 8px;
    border-radius: 3px;
    color: #333;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 1px 1px #eee;
    background-image: linear-gradient(#ededed, #fafafa);
    caret-color: #333;
    caret-size: 1px;
    selection-background-color: #6bb2e1;
    selected-color: #fff;
    height: 16px;
}

.slingshot .entry:focus,
.slingshot .entry:hover {
    border-radius: 3px;
    color: #333;
    border: 1px solid #6bb2e1;
    box-shadow: inset 0px 0px 1px 1px #c7deee;
}

/** Buttons *******************************************************************/

.slingshot .button {
    padding: 3px;
    border-radius: 2.5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.20);
}

.slingshot .button:active,
.slingshot .button:checked,
.slingshot .button:hover:active,
.slingshot .button:hover:checked {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.10);
}

/** App Buttons ***************************************************************/

.slingshot .button.app {
    border-width: 0px;
}

.slingshot .app:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.slingshot .app:focus {
    background-color: rgba(0, 0, 0, 0.20);
}

/** Sidebar Buttons ***********************************************************/

.slingshot .sidebar .button {
	padding: 5px;
    border-radius: 0px;
    border-top: 1px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-color: transparent;
}

.slingshot .sidebar .button:active,
.slingshot .sidebar .button:hover:active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: inset 0px 0px 0px transparent;
}

.slingshot .sidebar .button:checked,
.slingshot .sidebar .button:hover:checked,
.slingshot .sidebar .button:active:checked {
    border-color: rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.10);
}

.slingshot .entry,
.slingshot .sidebar .button {
    text-shadow: 0px 1px alpha (#fff, 0.4);
    icon-shadow: 0px 1px alpha (#fff, 0.4);
}

/** Linked Buttons ************************************************************/

/* Middle button */
.slingshot .linked .button,
.slingshot .linked .button:active,
.slingshot .linked .button:active:hover,
.slingshot .linked .button:focus,
.slingshot .linked .button:focus:active,
.slingshot .linked .button:insensitive {
    border-right-width: 0px;
    border-radius: 0px;
}

/* Leftmost button */
.slingshot .linked .button:first-child,
.slingshot .linked .button:active:first-child,
.slingshot .linked .button:active:hover:first-child,
.slingshot .linked .button:focus:first-child,
.slingshot .linked .button:focus:active:first-child,
.slingshot .linked .button:insensitive:first-child {
    border-radius-bottomright: 0px;
    border-radius-topright: 0px;
    border-radius-bottomleft: 2.5px;
    border-radius-topleft: 2.5px;
}

/* Rightmost button */
.slingshot .linked .button:last-child,
.slingshot .linked .button:active:last-child,
.slingshot .linked .button:active:hover:last-child,
.slingshot .linked .button:focus:last-child,
.slingshot .linked .button:focus:active:last-child,
.slingshot .linked .button:insensitive:last-child {
    border-right-width: 1px;
    border-radius-bottomright: 2.5px;
    border-radius-topright: 2.5px;
    border-radius-bottomleft: 0px;
    border-radius-topleft: 0px;
}

/* Linked single button */
.slingshot .linked .button:only-child,
.slingshot .linked .button:active:only-child,
.slingshot .linked .button:active:hover:only-child,
.slingshot .linked .button:focus:only-child,
.slingshot .linked .button:focus:active:only-child,
.slingshot .linked .button:insensitive:only-child {
    border-width: 1px;
    border-radius: 2.5px;
}

.slingshot .separator {
    background-color: rgba(0, 0, 0, 0.15);
}
