.cfs-label,.cfs-panel-value {
    font-size: 12px;
    padding: 0 2px 0 2px;
}

.cfs-panel-value {
    min-width: 43px;
}

.cfs-panel-button {
    padding: 0px 2px;
    color: #bbb;
}

.cfs-panel-button:hover {
    color: white;
}

.cfs-panel-settings-label {
    font-size: 14px;
    font-weight: bold;
    text-shadow: black 0px 1px 1px
}

.menu-label-entry {
    font: 14px monospace;
	padding: 5px;
	border-radius: 4px;
	color: rgb(255, 255, 255);
	border: 2px solid rgba(245,245,245,0.2);
	background-gradient-start: rgba(5,5,6,0.1);
	background-gradient-end: rgba(254,254,254,0.1);
	background-gradient-direction: vertical;
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	width: 80px;
	height: 15px;
	transition-duration: 300;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}